@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 5px 10px;
}
body{
    /* background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%); */
    background: rgba(0,4,15,1);
    color: antiquewhite;
}
.content {
    /* Set gradient background */
    background: linear-gradient(165deg, rgba(171, 78, 193, 1) 0%, rgba(238, 208, 130, 1) 100%);
    /* Clip text to background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Set font size, weight, and line height */
    font-size: 7xl;
    font-weight: bold;
    line-height: 1.2;
}
.ammu{
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #042c54 25%,rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
}
.box{
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);;
}
.gridd{
    background-color: #031B34;;
}
.footer{
    padding: 0px 0px;
}
   